#master_header{
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

#home-image{
  float: left;
  height: 50%;
  width: auto;
}

/*#stylist-reveal{

}*/

#main-content{
  display: none;
}

#about-content{
  /*display: none;*/
}

.stylist-page-mugshot{
  float: left;
  height: auto;
  width: 109%;
}

#hidden-edit-form{
  display: none;
}

#search-form{
  float: right;
}

#logo-image{
  width: 432%;
  float: left;
}

#client-list{
  text-align: left;
}

html{
  /*background-color: #44865b;*/
  background-color: #f4f4f4;
}

.jumbotron{
  /*background-color: #016146;*/
  background-color: black;
}

.stylist-list-member{
  list-style: none;
}

#main-row{
  /*background-color: #44865b;*/
  background-color: #f4f4f4;
  margin: 0px;
}

#main-title{
  text-align: center;
  color: white;
}

#where-the-template-goes{
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#client-update-form{
  display: none;
}

#jumbotron-container{
  padding-left: 0;
  margin-left: 1%;
  padding-right: 0;
  margin-right: 1%;
}

#search-prompt-text{
  color: white;
}
