#master_header{

}

#home-image{
  float: left;
}

/*#stylist-reveal{

}*/

#main-content{
  display: none;
}

#about-content{
  display: none;
}

.stylist-page-mugshot{
  float: left;
  height: 200px;
  width: auto;
}
