#master_header{

}

#home-image{
  float: left;
}

/*#stylist-reveal{

}*/

#main-content{
  display: none;
}

#about-content{
  display: none;
}

.stylist-page-mugshot{
  float: left;
  height: 200px;
  width: auto;
}

#hidden-edit-form{
  display: none;
}

#search-form{
  float: right;
}

#logo-image{
  width: 66%;
  float: left;
}
